<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/output.css" >
    <title>Geocaching</title>
</head>
<body class="dark:bg-gray-900">
    <%- include('navbar', { currentPage: 'about' }) %>
    <div class="container mx-auto max-w-2xl p-4 mt-16">
        <h2 class="text-4xl font-bold dark:text-white mb-4">About</h2>
        <p class="mb-3 text-gray-500 dark:text-gray-400">Geocache is a real-life game about exploring places. Anyone can create a route consisting of waypoints on a map. The author of the route prints QR-Codes and places them physically at location of each respective waypoint. Others can join the route here in the app and their goal is to visit all waypoints in the route by scanning the QR-Codes at the location of each waypoint. The author of the route can see who visited which waypoints in his route.</p>
    </div>

    <%- include('end-scripts') %>
</body>
</html>