<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/output.css" >
    <title>Geocaching</title>
</head>
<body class="dark:bg-gray-900">
    <%- include('navbar') %>
    <div class="container mx-auto max-w-2xl p-4 mt-16">
        <h2 class="text-4xl font-bold dark:text-white mb-4">About</h2>
        <p class="mb-3 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis nihil corporis culpa explicabo inventore vitae provident velit ipsa quibusdam nisi similique ex dolorum, aliquid qui, itaque, nemo voluptatem! Natus, voluptate?</p>
    </div>

    <%- include('end-scripts') %>
</body>
</html>