<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/output.css" >
    <title>Account delete</title>
</head>
<body>
    <div>Email: <%= locals.email %></div>
    <div>Username: <%= locals.username %></div>
    <form action="/account/delete" method="post">
        Are you sure you want to delete your account? This action is irreversible!
        <input type="submit" value="Delete my account" class="bg-red-300">
    </form>
</body>
</html>