<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/output.css" >
    <title>Admin routes list</title>
</head>
<body>
    <a class="text-blue-700" href="/admin/routes/create">Create a new route</a>
    <h1>Your routes</h1>
</body>
</html>