<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/output.css" >
    <title>Admin routes list</title>
</head>
<body>
    <a class="text-blue-700" href="/admin/routes/create">Create a new route</a>
    <h1>Your routes</h1>
    <table class="border-collapse border-2">
        <thead>
            <tr>
                <th class="border border-black">ID</th>
                <th class="border border-black">Name</th>
                <th class="border border-black">Owner ID</th>
            </tr>
        </thead>
        <tbody>
            <% locals.routes.forEach(route => { %>
                <tr>
                    <td class="border border-black"><%= route.id %></td>
                    <td class="border border-black"><%= route.name %></td>
                    <td class="border border-black"><%= route.owner_id %></td>
                    <td class="border border-black text-blue-700"><a href="/admin/routes/edit/<%= route.id %>">Edit</a></td>
                </tr>
            <% }) %>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</body>
</html>