<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/output.css" rel="stylesheet">
    <title>Geocaching</title>
</head>
<body>
    <h1 class="bg-orange-300">hello world</h1>
    <a class="inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 bg-cyan-900 text-white hover:bg-cyan-600 m-2" href="/admin/routes/list">Panel administracyjny</a>
</body>
</html>