<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <% if (locals.message) { %>
         <p><%= locals.message %></p>
        <% } %>
        <form action="/register" method="post">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="<%= typeof locals.formdata !== 'undefined' ? locals.formdata.email : '' %>">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="<%= typeof locals.formdata !== 'undefined' ? locals.formdata.username : '' %>">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>