<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    yeah rendering your waypoint
    <img src="<%= locals.qr_img %>" alt="star" width="128" height="128">
</body>
</html>